* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar {
  height: 55px;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: white;
}